Pillow # for image processing
pynput # for keyboard and mouse input
numpy # for image processing
opencv-python # for image processing
PyQt5 # for GUI
screeninfo # for getting screen resolution
watchdog # for watching file changes
```